<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>О нас</title>

  <!-- Подключаем общий CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="wrap">

    <nav>
      <a href="/">🏠 Главная</a>
      <a href="/about">ℹ️ О нас</a>
    </nav>

    <div class="box">
      <h1>ℹ️ О нас</h1>

      <p>
          Мы парфюмерный магазинчик Жоника Жанибекова,
          Элим хватит херней страдать стань мужчиной💅
      </p>

      <p>
        Проект сделан для одного Эшая💩
      </p>

      <a href="/">← На главную</a>
    </div>

  </div>
</body>
</html>
